<h2>Install via NuGet</h2>

<ul class="no-bullets">
    <li><a href="https://nuget.org/packages/Our.Umbraco.Ditto/" role="button" class="download" data-ga-category="Home Actions" data-ga-action="Home Links" data-ga-label="NuGet Link"><i class="fa fa-download"></i>Our.Umbraco.Ditto</a></li>
    <li><a href="https://nuget.org/packages/Our.Umbraco.Ditto.ModelFactory/" role="button" class="download" data-ga-category="Home Actions" data-ga-action="Home Links" data-ga-label="Web NuGet Link"><i class="fa fa-download"></i>Our.Umbraco.Ditto.ModelFactory</a></li>
</ul>

<table class="table-bordered table-striped">
    <tbody>
        <tr>
            <td><a href="https://github.com/leekelleher/umbraco-ditto/" data-ga-category="Home Actions" data-ga-action="Home Links" data-ga-label="GitHub project" rel="external">GitHub project <i class="fa fa-github"></i></a></td>
            <td></td>
        </tr>
        <tr>
            <td>Ditto Version {{site.version}}</td>
            <td><img src="http://img.shields.io/nuget/dt/Our.Umbraco.Ditto.svg?style=flat-square" alt="Our.Umbraco.Ditto NuGet downloads" /></td>
        </tr>
        <tr>
            <td>Ditto ModelFactory Version {{site.modelfactoryversion}}</td>
            <td><img src="http://img.shields.io/nuget/dt/Our.Umbraco.Ditto.ModelFactory.svg?style=flat-square" alt="Our.Umbraco.Ditto.ModelFactory NuGet downloads" /></td>
        </tr>
    </tbody>
</table>
