<ul class="social-icons">
    <li>
        <iframe src="http://ghbtns.com/github-btn.html?user=leekelleher&amp;repo=umbraco-ditto&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20" title="Star on GitHub"></iframe>
    </li>
    <li>
        <iframe src="http://ghbtns.com/github-btn.html?user=leekelleher&amp;repo=umbraco-ditto&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20" title="Fork on GitHub"></iframe>
    </li>
    <li>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Ditto - the friendly POCO mapper for Umbraco" data-via="leekelleher" data-hashtags="umbraco">Tweet</a>
    </li>
</ul>
