@{
	var siteName = "Ditto - the friendly view-model mapper for Umbraco";
	var title = Model.ContainsKey("title") ? Model.String("title") + " | " + siteName : siteName;
	var description = Model.String("Excerpt", "Ditto - the friendly view-model mapper for Umbraco");
	var keywords = Model.ContainsKey("tags") ? string.Join(",", Model.Get<string[]>("tags")).ToLower() : "ditto,umbraco";
	var css = Model.ContainsKey("css") ? Model.Get<string[]>("css") : null;
}
	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>@Html.Raw(title)</title>

	<meta name="description" content="@description">
	<meta name="keywords" content="@keywords">
	<meta name="generator" content="Wyam">

	<base href="/">
	<link rel="canonical" href="https://leekelleher.github.io/umbraco-ditto@(Model.String("permalink", "/"))">

	<link href="http://fonts.googleapis.com/css?family=Raleway:700,300" rel="stylesheet" type="text/css">
  	<link rel="stylesheet" href="./css/style.css">
	<link rel="stylesheet" href="./css/prettify.css">
@if(css != null)
{
	foreach(var item in css)
	{
	<link rel="stylesheet" href="@item">
	}
}